<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header center"><h3>Find My Republic</h3></div>
                <div class="card-body card-splited">
                    <div class="row">
                        <div class="col-md-12 each-card center">
                            <h4>Como usar o sistema</h4>
                        </div>
                    </div>

                    <div class="row text-justify col-sm-12">
                        <div class="row">
                            <p>Basicamente, existem dois tipos de usuário: <strong>Estudante</strong> e <strong>República</strong>. O tipo do usuário é definido no momento do cadastro. Para realizar o cadastro do seu usuário, é preciso que você informe o seu tipo, o seu email e uma senha de acesso.</p>
                            <p>Após realizar o seu cadastro, já é possível fazer login no sistema. Uma vez logado, duas áreas de acesso serão liberadas: <strong>Perfil</strong> e <strong>Inventário</strong>.</p>
                            <p>O sistema utiliza informações como a cidade e o estado dos usuários para a exibição das recomendações.</p>
                            <p>Abaixo segue o passo a passo para configurar sua conta e ter um melhor resultado do software.</p>
                        </div>

                        <div>
                            <div class="row">
                                <h5><strong>Estudante</strong></h5>
                            </div>
                            <div class="row">
                                <p>Se você for um estudante, você pode:</p>
                                <ul>
                                    <li><strong>Atualizar seu perfil:</strong> o primeiro passo é atualizar seu perfil, acessando a área "Perfil". Para a utilização completa dos recursos do sistema, os campos <strong>Apelido</strong>, <strong>Cidade</strong> e <strong>UF</strong> devem ser preenchidos. Após preencher os dados, clique em "Atualizar" e tudo pronto!</li>
                                    <li><strong>Realizar seu teste de personalidade:</strong> acesse a área de "Inventário" que será liberada quando fizer o login. Lá você vai encontrar as instruções pra realizar o seu teste de personalidade. É bem rapido!</li>
                                    <li>
                                        <strong>Se vincular a uma república:</strong>
                                        <ol>
                                            <li>Ná página de "Perfil", aperte em "adicionar republica" (abaixo da foto do seu perfil)</li>
                                            <li>Uma página irá se abrir, e se você preencheu os seus dados corretamente na primeira etapa, os campos <strong>UF</strong> e <strong>Cidade</strong> já estarão automaticamente preenchidos</li>
                                            <li>No campo <strong>Republica</strong> escolha a República que você quer se vincular.</li>
                                            <ol>
                                                <li>A república precisa estar cadastrada no sistema.</li>
                                                <li>É importante que a república tenha os campos <strong>Nome</strong>, <strong>Cidade</strong> e <strong>UF</strong> preenchidos. Caso contrário, o estudante poderá ter dificuldades em realizar o vinculo com a república certa. </li>
                                            </ol>
                                            <li>Após solicitar o vínculo, a República precisa aprovar sua solicitação. Se você representa uma República, veja abaixo na seção República como aprovar um novo morador.</li>
                                            <li>Uma vez vinculado, é possível que você acesse o perfil da República através do seu perfil, aprove, exclua ou rejeite novos membros vinculados.</li>
                                        </ol>
                                    </li>
                                    <li><strong>Pesquisar por repúblicas baseadas na sua personalidade:</strong> na Página Inicial você pode pesquisar as repúblicas por <strong>Cidade</strong>. A pesquisa te levará para uma página com as repúblicas cadastradas na cidade que você pesquisou. O resultado da busca exibe as Repúblicas que mais combinam com a sua personalidade.</li>
                                    <ol><li>Caso você não tenha feito o Teste de Personalidade o sistema não irá considerar o seu perfil, resultando em uma ineficiência nas recomendações. Portanto, <strong>é extremamente importante que você preencha o teste de personalidade</strong>.</li></ol>
                                </ul>
                            </div>                        
                        </div>

                        <div>
                            <div class="row">
                                <h5><strong>República</strong></h5>
                            </div>
                            <div class="row">
                                <p>Se você for uma república, você pode:</p>
                                <ul>
                                    <li><strong>Atualizar seu perfil:</strong> o primeiro passo é atualizar seu perfil, acessando a área "Perfil". Para a utilização completa dos recursos do sistema, os campos <strong>Nome</strong>, <strong>Caráter</strong>, <strong>Cidade</strong> e <strong>UF</strong> devem ser preenchidos. Após preencher os dados, clique em "Atualizar" e tudo pronto!</li>
                                    <li><strong>Aceitar vinculo de moradores:</strong> no seu Perfil, clicando no link "Moradores" (abaixo da foto de perfil) uma página exibirá o Apelido e o resultado do Teste de Personalidade dos moradores aprovados e pendentes. Os vinculos solicitados pelos estudantes através do menu "Adicionar República" aparecem aqui. Você pode aprovar ou reprovar os vinculos recebidos. Se você aprovar um vinculo por engano, você pode removê-lo a qualquer momento.</li>
                                    <li><strong>Calcular sua personalidade:</strong> no seu Perfil, você pode clicar em Calcular Personalidade para obter a Personalidade da República</li>
                                    <ol>
                                        <li>O calculo da personalidade da República é baseado na personalidade dos seus moradores.</li>
                                        <li>É importante que todos os moradores da República tenham realizado o Teste de Personalidade para obter uma melhor experiência da ferramenta.</li>
                                        <li>Sempre que houver alguma mudança no Perfil da República, a personalidade deve ser calculada novamente. Isto significa que caso a república tenha um novo morador ou remova algum morador ou algum morador refaça o teste de personalidade, a personalidade da república deve ser calculada novamente.</li>
                                    </ol>
                                </ul>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="card-footer center"><h4>Obrigado pela contribuição!</h4></div>
            </div>
        </div>
    </div>
</div>