<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header center"><h3>Find My Republic</h3></div>
                <div class="card-body card-splited">
                    <div class="row">
                        <div class="col-md-6 each-card center">
                            Trabalho de <a href="http://www.decom.ufop.br/decom/ensino/disciplina/bcc391/2019-2" target="_new">Monografia II</a> do curso de <a href="http://www.decom.ufop.br/decom/inicio/" target="_new">Ciência da Computação</a> da <a href="http://www.ufop.br" target="_new">Universidade Federal de Ouro Preto</a>, a ser defendido em Dezembro/2019.
                        </div>
                        <div class="col-md-6 each-card center">
                            O objetivo do sistema é recomendar aos estudantes universitários as repúblicas que mais possuem compatibilidade com a sua personalidade.
                        </div>
                    </div>

                    <div class="row text-justify">
                        <div class="col-md-12 m-25 center">
                            <h4>O Sistema</h4>
                        </div>
                        <p>O objetivo do sistema é recomendar ao estudante as repúblicas que mais possuem compatibilidade com sua personalidade. A ideia é construir um software responsável por armazenar a personalidade dos calouros e das repúblicas, realizando a recomendação baseada na distância das personalidades.</p>
                        <p>O sistema é dividido em dois componentes, a depender do tipo do usuário que está acessando (Estudante ou República)</p>
                        <p>O produto é um sistema web que oferece serviços de relatórios de personalidade de estudantes e repúblicas obtidos a partir do <a href="https://www.ocf.berkeley.edu/~johnlab/bfi.htm" target="_new">Big Five Inventory</a>. Também pode oferecer serviços de exibição de informações dos usuários, uma vez que eles permitam a exibição.</p>
                        <p>O sistema permite ao estudante consultar e visualizar dados que representam a personalidade das repúblicas. Essa representação diz respeito a agregação das personalidades dos que ali residem.</p>

                        <div class="col-md-12 m-25 center">
                            <h4>Privacidade</h4>
                        </div>

                        <p>Para a utilização do sistema, é necessário realizar um cadastro. Os dados obrigatórios para realizar o cadastro são Email e Senha. Entretanto, é interessante que se preencha todos os dados para que se obtenha um melhor resultado do software.</p>
                        <p>Nenhuma informação será divulgada sem a autorização do respectivo usuário.</p>
                        <p>Os dados sigilosos são criptografados para serem armazenados no banco de dados.</p>

                        <div class="col-md-12 m-25 center">
                            <h4>Código</h4>
                        </div>

                        <p>Este trabalho é puramente acadêmico e toda sua documentação está disponível no <a href="https://github.com/marcosrodriigues/ufop/tree/master/conteudo/Monografia I" target="_new">Github</a>, bem como código fonte do sistema.                    </div>
                </div>
                <div class="card-footer center"><h4>Obrigado pela contribuição!</h4></div>
            </div>
        </div>
    </div>
</div>