<div class="modal fade" id="modalEsqueciMinhaSenha" tabindex="-1" aria-labelledby="modalEsqueciMinhaSenha" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title strong center">Esqueci minha senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="intro">
            <div class="card">
                <div class="card-header">
                    <p>O serviço de recuperação de senha não está disponível.</p>
                    <p>Em caso de problemas com o login, entre em contato com o desenvolvedor através das opções abaixo:</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 center">
                            <a href="mailto:marcos.rodrigues@aluno.ufop.edu.br" class="btn btn-primary col-sm-12">
                                <i class="fa fa-inbox"></i>
                                Email
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <button (click)="whatsapp()" class="btn btn-primary col-sm-12">
                                <i class="fa fa-whatsapp"></i>
                                WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
      </div>
    </div>
  </div>
</div>