<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title><span class="strong">Abertura para o novo</span></mat-panel-title>
        <mat-panel-description class="right">{{ percent.abertura }}</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Apreciação de arte, emoção, aventura, ideias incomuns, curiosidade e variedade de experiência.</p>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title><span class="strong">Concordância</span></mat-panel-title>
        <mat-panel-description class="right">{{ percent.concordancia }}</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Tendência para ser mais compassivo e cooperativo do que desconfiado e antagonista em relação aos outros</p>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title><span class="strong">Consciência</span></mat-panel-title>
        <mat-panel-description class="right">{{ percent.consciencia }}</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Tendência a mostrar autodisciplina, agir literalmente e realizar objetivos. Rígido em vez de um comportamento espontâneo</p>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title><span class="strong">Extroversão</span></mat-panel-title>
        <mat-panel-description class="right">{{ percent.extroversao }}</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Energia, emoções positivas, urgência e uma tendência a estimular o ambiente na companhia de outras pessoas.</p>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title><span class="strong">Neuroticismo</span></mat-panel-title>
        <mat-panel-description class="right">{{ percent.neuroticismo }}</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Tendência a ter emoções negativas facilmente, como raiva, ansiedade, depressão e vulnerabilidade</p>
</mat-expansion-panel>