<table class="table table-hover">
    <thead class="center">
        <th>#</th>
        <th>O</th>
        <th>A</th>
        <th>C</th>
        <th>E</th>
        <th>N</th>
    </thead>
    <tbody>
        <tr>
            <td>Estudante</td>
            <td>{{percentMe.abertura}}%</td>
            <td>{{percentMe.concordancia}}%</td>
            <td>{{percentMe.consciencia}}%</td>
            <td>{{percentMe.extroversao}}%</td>
            <td>{{percentMe.neuroticismo}}%</td>
        </tr>
        <tr>
            <td>República</td>
            <td>{{percentOther.abertura}}%</td>
            <td>{{percentOther.concordancia}}%</td>
            <td>{{percentOther.consciencia}}%</td>
            <td>{{percentOther.extroversao}}%</td>
            <td>{{percentOther.neuroticismo}}%</td>
        </tr>
        <!--
        <tr class="strong">
            <td>Distância</td>
            <td>{{abs(percentMe.abertura - percentOther.abertura)}}</td>
            <td>{{abs(percentMe.concordancia - percentOther.concordancia)}}</td>
            <td>{{abs(percentMe.consciencia - percentOther.consciencia)}}</td>
            <td>{{abs(percentMe.extroversao - percentOther.extroversao)}}</td>
            <td>{{abs(percentMe.neuroticismo - percentOther.neuroticismo)}}</td>
        </tr>
        -->
    </tbody>
</table>