<section class="header bg bg-primary" style="margin-bottom: 5px;">
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
            <div class="col-sm-12">
                <div class="left">
                    <a class="nav-link title" routerLink=""><span>FMR</span></a>
                </div>

                <div class="right">
                    <ul class="navbar-nav my-nav" >
                        <li class="navbar-item">
                            <a class="nav-link link" routerLink="sobre">Sobre</a>        
                        </li>
                        <li class="navbar-item" *ngIf="isLogged">
                            <a class="nav-link link" routerLink="profile"><span>Perfil</span></a>        
                        </li>
                        <li class="navbar-item" *ngIf="isLogged">
                            <a class="nav-link link" routerLink="minha-republica"><span>República</span></a> 
                        </li>
                        <li class="navbar-item" *ngIf="isLogged">
                            <a class="nav-link link" routerLink="inventario"><span>Inventário</span></a> 
                        </li>
                        <li class="navbar-item" *ngIf="!isLogged">
                            <a class="nav-link link" routerLink="login">Login</a> 
                        </li>
                        <li class="navbar-item" *ngIf="isLogged">
                            <a class="nav-link link" href="#" (click)="logout()"><span>Sair</span></a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>



