<div class="container m10">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header center"><h4 class="strong">Inventário</h4></div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-8">Pergunta</div>
                        <div class="col-sm-4">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q1_1" name="Q1" class="custom-control-input">
                                <label class="custom-control-label" for="Q1_1">1</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q1_2" name="Q1" class="custom-control-input">
                                <label class="custom-control-label" for="Q1_2">2</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q1_3" name="Q1" class="custom-control-input">
                                <label class="custom-control-label" for="Q1_3">3</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q1_4" name="Q1" class="custom-control-input">
                                <label class="custom-control-label" for="Q1_4">4</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q1_5" name="Q1" class="custom-control-input">
                                <label class="custom-control-label" for="Q1_5">5</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">Pergunta 2</div>
                        <div class="col-sm-4">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q2_1" name="Q2" class="custom-control-input">
                                <label class="custom-control-label" for="Q2_1">1</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q2_2" name="Q2" class="custom-control-input">
                                <label class="custom-control-label" for="Q2_2">2</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q2_3" name="Q2" class="custom-control-input">
                                <label class="custom-control-label" for="Q2_3">3</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q2_4" name="Q2" class="custom-control-input">
                                <label class="custom-control-label" for="Q2_4">4</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q2_5" name="Q2" class="custom-control-input">
                                <label class="custom-control-label" for="Q2_5">5</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">Pergunta 3</div>
                        <div class="col-sm-4">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q3_1" name="Q3" class="custom-control-input">
                                <label class="custom-control-label" for="Q3_1">1</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q3_2" name="Q3" class="custom-control-input">
                                <label class="custom-control-label" for="Q3_2">2</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q3_3" name="Q3" class="custom-control-input">
                                <label class="custom-control-label" for="Q3_3">3</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q3_4" name="Q3" class="custom-control-input">
                                <label class="custom-control-label" for="Q3_4">4</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q3_5" name="Q3" class="custom-control-input">
                                <label class="custom-control-label" for="Q3_5">5</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">Pergunta 4</div>
                        <div class="col-sm-4">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q4_1" name="Q4" class="custom-control-input">
                                <label class="custom-control-label" for="Q4_1">1</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q4_2" name="Q4" class="custom-control-input">
                                <label class="custom-control-label" for="Q4_2">2</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q4_3" name="Q4" class="custom-control-input">
                                <label class="custom-control-label" for="Q4_3">3</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q4_4" name="Q4" class="custom-control-input">
                                <label class="custom-control-label" for="Q4_4">4</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q4_5" name="Q4" class="custom-control-input">
                                <label class="custom-control-label" for="Q4_5">5</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">Pergunta 5</div>
                        <div class="col-sm-4">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q5_1" name="Q5" class="custom-control-input">
                                <label class="custom-control-label" for="Q5_1">1</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q5_2" name="Q5" class="custom-control-input">
                                <label class="custom-control-label" for="Q5_2">2</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q5_3" name="Q5" class="custom-control-input">
                                <label class="custom-control-label" for="Q5_3">3</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q5_4" name="Q5" class="custom-control-input">
                                <label class="custom-control-label" for="Q5_4">4</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="Q5_5" name="Q5" class="custom-control-input">
                                <label class="custom-control-label" for="Q5_5">5</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer center"><a href="https://pages.uoregon.edu/sanjay/bigfive.html" class="nav-link link" target="_new"> Informações sobre o Big Five</a></div>
            </div>
        </div>
    </div>
</div>