<div class="row">
    <div class="col-sm-12 center strong">
        <h2>Relação de cadastros</h2>
    </div>
    <div class="col-sm-2 center">
        <div class="card">
            <div class="card-header"><p><strong>Cadastros</strong></p></div>
            <div class="card-body center strong">{{state.cadastros}}</div>
        </div>
    </div>
    <div class="col-sm-2 center">
        <div class="card">
            <div class="card-header"><p><strong>Repúblicas</strong></p></div>
            <div class="card-body center strong">{{state.republicas}}</div>
        </div>
    </div>
    <div class="col-sm-2 center">
        <div class="card">
            <div class="card-header"><p><strong>Estudantes</strong></p></div>
            <div class="card-body center strong">{{state.estudantes}}</div>
        </div>
    </div>
    <div class="col-sm-2 center">
        <div class="card">
            <div class="card-header"><p><strong>Moradores</strong></p></div>
            <div class="card-body center strong">{{state.estudantes_aprovados}}</div>
        </div>
    </div>
    <div class="col-sm-2 center">
        <div class="card">
            <div class="card-header"><p><strong>Pendentes</strong></p></div>
            <div class="card-body center strong">{{state.estudantes_pendentes}}</div>
        </div>
    </div>
    <div class="col-sm-2 center">
        <div class="card">
            <div class="card-header"><p><strong>Sem rep</strong></p></div>
            <div class="card-body center strong">{{state.estudantes_sem_rep}}</div>
        </div>
    </div>
</div>