<div class="modal fade" id="modalMoradores" tabindex="-1" aria-labelledby="modalMoradores" aria-hidden="true">
    <div class="modal-dialog m-width-80" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aprovados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="center">
                                <tr>
                                    <th rowspan="2" scope="row">Apelido</th>
                                    <th colspan="5" scope="row">Personalidade</th>
                                    <th rowspan="2" scope="row">Opções</th>
                                </tr>
                                <tr>
                                    <th>Abertura</th>
                                    <th>Concordância</th>
                                    <th>Consciência</th>
                                    <th>Extroversão</th>
                                    <th>Neuroticismo</th>
                                </tr>
                            </thead>

                            <tbody *ngIf="_aprovados.length > 0; else noAprovados">
                                <tr *ngFor="let aprov of _aprovados;" scope="row">
                                    <td *ngIf="aprov.apelido != '' && aprov.apelido != undefined ; else noName">{{aprov.apelido}}</td>
                                    <ng-template #noName>
                                        <td>Não informado</td>
                                    </ng-template>
                                    <td colspan="5" class="center" *ngIf="aprov.perfil.personalidade == null; else hasPersonality">Morador não fez o Teste de Personalidade</td>
                                    <ng-template #hasPersonality>
                                        <td>{{aprov.perfil.personalidade.abertura}}</td>
                                        <td>{{aprov.perfil.personalidade.concordancia}}</td>
                                        <td>{{aprov.perfil.personalidade.consciencia}}</td>
                                        <td>{{aprov.perfil.personalidade.extroversao}}</td>
                                        <td>{{aprov.perfil.personalidade.neuroticismo}}</td>
                                    </ng-template>
                                    <td *ngIf="!sendingMorador">
                                        <button class="btn btn-danger" aria-label="Desaprovar" (click)="recusar(aprov.id)">
                                            <i class="fa fa-remove"></i> 
                                        </button>
                                    </td>
                                    <td *ngIf="sendingMorador">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Carregando...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                    
                            <ng-template #noAprovados>
                                <tr scope="row">
                                    <td colspan="7" class="center">Nenhum morador</td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>
                </div>
            </div>
            
        <div class="modal-content" *ngIf="_pendentes.length > 0">
            <div class="modal-header">
                <h5 class="modal-title">Pendentes</h5>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Apelido</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Opções</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let morador of _pendentes;" scope="row">
                                    <td>{{morador.id}}</td>
                                    <td>{{morador.nome}}</td>
                                    <td>{{morador.apelido}}</td>
                                    <td>{{morador.email}}</td>
                                    <td *ngIf="!sendingPendente">
                                        <button class="btn btn-success mr-10" aria-label="Aprovar" (click)="aprovar(morador)">
                                            <i class="fa fa-check"></i> 
                                        </button>
                                        <button class="btn btn-danger" aria-label="Recusar" (click)="remover(morador)">
                                            <i class="fa fa-remove"></i> 
                                        </button>
                                    </td>
                                    <td *ngIf="sendingPendente">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Carregando...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>