<div class="container m10">
    <div class="card">
        <div class="card-header"><h4 class="center">Detalhes da República <span class="strong">{{ rep.nome }}</span> </h4></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <div *ngIf="rep.image != null; else defaultPhoto;">
                        <img src="{{ rep.image }}" class="img-fluid" />
                    </div>
                    <ng-template #defaultPhoto>
                        <img src="assets/img/default-user.png" class="img-fluid" />
                    </ng-template>
                </div>
                <div class="col-sm-5">
                    <div class="form-group row">
                        <div class="col-sm-4 strong right">E-mail:</div>
                        <div class="col-sm-8">{{ rep.email }}</div>
                    </div>
                    <!--<div class="form-group row">
                        <div class="col-sm-4 strong right">Telefone:</div>
                        <div class="col-sm-8">(31) 3552-2369</div>
                    </div>-->
                    <div class="form-group row">
                        <div class="col-sm-4 strong right">Cidade/UF:</div>
                        <div class="col-sm-8">{{rep.cidade}} / {{rep.uf}}</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 strong right">Moradores:</div>
                        <div class="col-sm-8">{{rep.sizeMoradores}}</div>
                    </div>
                    <!--<div class="form-group row">
                        <div class="col-sm-4 strong right">Universidade:</div>
                        <div class="col-sm-8">UFOP</div>
                    </div>-->
                </div>
                <div class="col-sm-4">
                    <app-chart [personality]="rep.perfil.personalidade"></app-chart>
                </div>
            </div>
        </div>
    </div>
</div>