<div class="modal fade" id="modalContato" tabindex="-1" aria-labelledby="modalContato" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title strong center">Contato</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="intro">
            <div class="card">
                <div class="card-header">
                    <p>O contato com o administrador do sistema pode ser feito através de email ou whatsapp.</p>
                    <p>Caso venha a ter alguma experiência negativa com a ferramenta, não hesite em entrar em contato.</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 center">
                            <a href="mailto:marcos.rodrigues@aluno.ufop.edu.br" class="btn btn-primary col-sm-12">
                                <i class="fa fa-inbox"></i>
                                Email
                            </a>
                        </div>
                        <div class="col-sm-6 center">
                            <button (click)="whatsapp()" class="btn btn-primary col-sm-12">
                                <i class="fa fa-whatsapp"></i>
                                WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
      </div>
    </div>
  </div>
</div>