<section class="header bg bg-primary">
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
            <div class="left">
                <a class="nav-link title nav-title" [routerLink]="['']">
                    <img src="/assets/img/logo_mini.png" height="50px" />
                </a>
            </div>

            <div class="right">
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navBarCollapse" aria-controls="navBarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navBarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="navbar-item" [routerLinkActive]="['active']">
                            <a class="nav-link link" [routerLink]="['sobre']"><span>Sobre</span></a>        
                        </li>
                        <li class="navbar-item" [routerLinkActive]="['active']">
                            <a class="nav-link link" [routerLink]="['como-usar']"><span>Como usar</span></a>        
                        </li>
                        <li class="navbar-item" *ngIf="isLogged" [routerLinkActive]="['active']">
                            <a class="nav-link link" routerLink="profile"><span>Perfil</span></a>        
                        </li>
                        <li class="navbar-item" *ngIf="isLogged" [routerLinkActive]="['active']">
                            <a class="nav-link link" routerLink="inventario"><span>Inventário</span></a> 
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link link" href="#" data-target="#modalContato" data-toggle="modal"><span>Contato</span></a>
                        </li>
                        <li class="navbar-item" *ngIf="!isLogged" [routerLinkActive]="['active']">
                            <a class="nav-link link" routerLink="login"><span>Login</span></a> 
                        </li>
                        <li class="navbar-item" *ngIf="isLogged">
                            <a class="nav-link link" href="#" (click)="logout()"><span>Sair</span></a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>

<app-contato></app-contato>