.header {
    width: 100%;
    color: #ffffff;
}

.header .title {
    font-weight: bold;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

.header .link {
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ffffff;
}

.right {
    float: right;
}

.left {
    float: left;
}

.my-nav {
    margin-top: 10px;
}

.my-nav li {
    position: relative;
}

.my-nav li:after {
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;


    position: absolute;
    right: 0;
    top: 50%;
    left: 97%;

    background-color: #ffffff;
}

.my-nav li:last-child::after {
    height: 0;
}

.my-nav .navbar-item a:hover {
    color: #c3c3c3!important;
}

.nav-link span {
    border-bottom: 1px solid #c3c3c3;
}

.nav-title:hover {
    color: #c3c3c3!important;
}

.active a {
    color: #c3c3c3!important;
}
