.picture-container{
    position: relative;
    text-align: center;
}
.picture{
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.info > .row {
    margin-top: 25px;
}

.mt-25 {
    margin-top: 25px;
}

.inherit {
    display: inherit;
}