<div class="container m25">
    <div class="card">
        <div class="card-header"><h4 class="center">Exibindo resultados para <span class="strong">{{ cidade }}</span></h4></div>
        <div class="card-body">
            <div class="row">
                <div class="card col-sm-4 m10">
                    <div class="card-header"><h5 class="center"><a [routerLink]="['/republica', 1]">República 1</a></h5></div>
                    <div class="card-body">
                        <div id="chart1" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                </div>
                <div class="card col-sm-4 m10">
                    <div class="card-header"><h5 class="center"><a [routerLink]="['/republica', 2]">República 2</a></h5></div>
                    <div class="card-body">
                        <div id="chart2" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                </div>
                <div class="card col-sm-4 m10">
                    <div class="card-header"><h5 class="center"><a [routerLink]="['/republica', 3]">República 3</a></h5></div>
                    <div class="card-body">
                        <div id="chart3" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

