<section class="footer bg bg-primary">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <p class="title">Find My Republic</p>    
                    <p class="strong"><a [routerLink]="['sobre']">Sobre</a></p>
                    <p class="strong" *ngIf="isLogged"><a routerLink="profile">Perfil</a></p>
                    <p class="strong" *ngIf="isLogged"><a routerLink="inventario">Inventário</a></p>
                    <p class="strong" *ngIf="!isLogged"><a routerLink="login">Login</a></p>
                    <p class="strong" *ngIf="isLogged"><a href="#" (click)="logout()">Sair</a></p>
                </div>
                <div class="col-md-4">
                    <p class="title">Contato</p>
                    <p><a href="mailto:marcos.rodrigues@aluno.ufop.edu.br">marcos.rodrigues@aluno.ufop.edu.br</a></p>
                </div>
                <div class="col-md-4">
                    <p class="title">Referências</p>
                    <p><a target="_new" href="https://github.com/marcosrodriigues/ufop/tree/master/conteudo/Monografia%20I/Sistema/API">Código fonte do sistema</a></p>
                    <p><a target="_new" href="https://github.com/marcosrodriigues/ufop/tree/master/conteudo/Monografia%20I/Sistema/FMR">Código fonte da interface</a></p>
                    <p><a target="_new" href="https://github.com/marcosrodriigues/ufop/blob/master/conteudo/Monografia%20I/Artigo/Monografia_I_Marcos_Rodrigues.pdf">Documento da Monografia</a></p>
                    <p><a target="_new" href="https://www.ocf.berkeley.edu/~johnlab/bfi.htm">Teste de Personalidade</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

