<section class="footer bg bg-green">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <p>Trabalho de Conclusão de Curso</p>
                    <p>Monografia 1</p>
                </div>
                <div class="col-md-4">
                    <p>Marcos Paulo Ferreira Rodrigues</p>
                    <p>14.2.4341</p>
                </div>
                <div class="col-md-4">
                    <p>Obrigado pela colaboração</p>
                    <p>Eh nóis!</p>
                </div>
            </div>
        </div>
    </div>
</section>

