<div class="modal fade" id="modalTermoDeUso" tabindex="-1" aria-labelledby="modalTermoDeUso" aria-hidden="true">
    <div class="modal-dialog m-width-80" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title strong center">Termo de Consentimento Livre e Esclarecido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body termo">
        <div class="intro">
            <p>Você está sendo convidado(a) como voluntário(a) a participar da pesquisa: <span class="strong">Sistema de recomendação de estudantes à repúblicas e vice-versa</span> e que tem como objetivo desenvolver um sistema de recomendação onde o estudante possa procurar a república com maior compatibilidade de personalidade, e vice-versa . Acreditamos que ela seja importante pois contribui para a solução do problema de evasão de estudantes que acontece nas repúblicas estudantis.</p>
        </div>
        <div class="termo">
            <p><span class="strong">Participação do estudo</span> - A minha participação no referido estudo será de responder um questionário online através do sistema FindMyRepublic, onde levará o tempo de 10 minutos. Poderei responder em qualquer lugar que tenha acesso à Internet, desde que eu esteja autenticado(a) no sistema.</p>

            <p><span class="strong">Riscos e Benefícios</span> - Fui alertado que, da pesquisa a se realizar, posso esperar um benefício tal como receber uma recomendação adequada de uma república compatível com meu perfil. Recebi também que é possível acontecerem os seguintes desconfortos e riscos: receber a recomendação de uma república que não seja compatível com minha personalidade. Para minimizar o problema, estou ciente que poderei entrar em contato com o pesquisador através da seção de contato do referido sistema.</p>

            <p><span class="strong">Sigilo e Privacidade</span> - Estou ciente de que minha privacidade será respeitada, ou seja, qualquer elemento da pesquisa que possa, de qualquer forma, me identificar, será mantido em sigilo. Os pesquisadores se responsabilizam pela guarda e confidencialidade dos dados sigilosos, bem como a não exposição dos dados da pesquisa.</p>

            <p><span class="strong">Autonomia</span> - É assegurada a assistência durante toda a pesquisa, bem como me garantido o livre acesso a todas as informações e esclarecimentos adicionais sobre o estudo e suas consequências, enfim, tudo que eu queira saber antes, durante e depois da minha participação. Declaro que fui informado de que posso me recusar a participar do estudo, ou retirar meu consentimento a qualquer momento, sem precisar justificar, e de, por desejar sair da pesquisa, não sofrerei qualquer prejuízo à assistência que venho recebendo.</p>

            <p><span class="strong">Ressarcimento e Indenização</span> - No entanto, caso eu tenha despesa decorrente da participação da pesquisa, tais como transporte, alimentação, entre outros, haverá ressarcimento dos valores gastos da seguinte forma: depósito bancário. De igual maneira, caso ocorra algum dano decorrente da minha participação no estudo, serei devidamente indenizado, conforme determina a lei.</p>

            <p><span class="strong">Contato</span><br />
                <span>Professor orientador: Anderson Almeida Ferreira</span><br />
                <span>anderson.ferreira@ufop.edu.br</span><br /><br />
                <span>Pesquisador: Marcos Paulo Ferreira Rodrigues</span><br />
                <span>marcos.rodrigues@aluno.ufop.edu.br</span><br /><br /></p>

            <p><span class="strong">Comitê de Ética</span> - O Comitê de Ética em Pesquisa e Serem Humanos (CEP) é composto por um grupo de pessoas que estão trabalhando para garantir seus direitos como participante sejam respeitados, sempre se pautando da Resolução 466/12 do CNS. Ele tem a obrigação de avaliar se a pesquisa foi planejada e se está sendo executada de forma ética. Caso você achar que a pesquisa não está sendo realizada de forma como você imaginou ou que está sendo prejudicado de alguma forma, você pode entrar em contato com o Comitê de Ética da UFOP, pelo telefone (31) 3559-1368 entre segunda e sexta-feira das 8h às 17h ou pelo e-mail cep.propp@ufop.edu.br.</p>

            <p><span class="strong">Uso da Imagem</span> - Não haverá utilização de imagem, gravação ou áudio.</p>

            <p><span class="strong">Declaração</span> - Declaro que li e entendi todas as informações presentes neste Termo e tive a oportunidade de discutir as informações do mesmo. Todas as minhas perguntas foram respondidas e estou satisfeito com as respostas. Entendo que receberei uma via deste documento e que outra via será arquivada por 5 anos pelo pesquisador. Enfim, tendo isto orientado quanto ao teor de todo o aqui mencionado e compreendido a natureza e o objetivo do já referido estudo, eu manifesto meu livre consentimento em participar, estando totalmente ciente de que não há nenhum valor econômico, a receber ou pagar, por minha participação.</p>

            <p><span class="strong">Devolutiva dos resultados</span> - O participante poderá receber os resultados obtidos através da pesquisa diretamente no sistema FindMyRepublic, enquanto este estiver disponível para acesso. O participante também poderá solicitar, via e-mail, o recebimento dos resultados obtidos.</p>

            <p>*Este termo foi adaptado do TCLE  da Universidade do Sul de Santa Catarina.</p>
        </div>
      </div>
    </div>
  </div>
</div>