<div class="modal fade" id="modalAddRepublica" tabindex="-1" aria-labelledby="modalUniversidade" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vincular República</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="form-group row">
            <label for="vincularRepUf" class="col-sm-4 custom-control-label strong">UF*: </label>
            <div class="col-sm-8">
                <select class="form-control" id="vincularRepUf" [(ngModel)]="_filterEstado" [compareWith]="compareFnTxt" (change)="changeEstado()">   
                    <option select="select">SELECIONE</option>
                    <option *ngFor="let uf of _estados;" value="{{uf.sigla}}">{{uf.nome}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="vincularRepCidade" class="col-sm-4 custom-control-label strong">Cidade*: </label>
            <div class="col-sm-8">
                <select class="form-control" id="vincularRepCidade" [(ngModel)]="_filterCidade" [compareWith]="compareFnTxt" (change)="changeCidade()">
                    <option selected>SELECIONE O ESTADO</option>
                    <option *ngFor="let city of _cidades;" value="{{city}}">{{city}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="sltVincularRep" class="col-sm-4 custom-control-label strong">República*: </label>
            <div class="col-sm-8">
                <select class="form-control" id="sltVincularRep" [(ngModel)]="_republicaSelecionada" [compareWith]="compareFn">
                    <option selected>SELECIONE A CIDADE</option>
                    <option *ngFor="let r of _republicas;" value="{{r.id}}">{{r.id}} - {{r.nome}}</option>
                </select>
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <div class="alert alert-{{vincularClass}} alert-dismissible" *ngIf="vincularMsg!=''">
            <p>{{vincularMsg}}</p>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" *ngIf="!vincularSending" class="btn btn-primary" (click)="solicitarVinculo()">Solicitar</button>
          <div *ngIf="vincularSending" class="spinner-border text-primary" role="status">
              <span class="sr-only">Carregando...</span>
          </div>
      </div>
    </div>
  </div>
</div>